@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Fuzzy+Bubbles&display=swap');

body{
    background-color: cornsilk;
}

.heading{
    text-align: center; 
}

.playground-heading{
    color: green;
    font-family: 'Corinthia', cursive;
    font-size: 2rem;
}

.main{
    border: 2px solid grey;
    width: 55%;
    margin: 0 auto;
}

.main div{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 1rem auto;
}

#red{
    border-color: red;
}

#green{
    border-color: green;
}

#blue{
    border-color: blue;
}

.footer{
    font-family: 'Fuzzy Bubbles', cursive;
    text-align: center;
}